/* 全体の装飾 */
body {
    font-size: 6em;
    text-align: center;
}
/* タイマーの設計 */

.count {
    margin: 0;
    font-weight: bold;
    color: #888;
}

/* テキスト */

.wrap {
    margin-top: 20px;
    padding: 80px 40px 80px 40px;
    background-color: #666;
    font-weight: bold;
    color: #fff;
}

/* 正解のテキスト */
.typed {
    color: lightgreen;
}

/* ミスのテキスト */
.mistyped {
    background-color: red;
}
